@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

.taskRegister {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Quicksand", sans-serif;

  .astronaut {
    width: 559px;
    height: 684px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .formContainer {
    background: #000000;
    width: 600px;
    height: 684px;
    padding-left: 30px;
    padding-right: 30px;

    .headerContainer {
      display: flex;
      justify-content: center;
    }

    h1 {
      font-size: 35px;
      font-weight: 600;
      color: #ffffff;
    }

    label {
      font-size: 18px;
      font-weight: 400;
      line-height: 25px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
    }

    .titleInput {
      width: 590px;
      height: 30px;
      border-radius: 8px;
      background-color: #000000;
      border: 1px solid #ffffff;
      margin-bottom: 40px;
      color: #ffffff;
      font-size: 18px;
    }

    .descriptionInput {
      width: 590px;
      height: 75px;
      border-radius: 8px;
      background-color: #000000;
      border: 1px solid #ffffff;
      margin-bottom: 25px;
      color: #ffffff;
      font-size: 18px;
    }

    .selectContainers {
      display: flex;
      gap: 50px;
    }

    .responsableSelect {
      width: 266px;
      height: 70px;
      border-radius: 8px;
      padding: 25px 27px 20px 31px;
      color: #ffffff;
      border: 1px solid #ffffff;
      background-color: #000000;
      margin-bottom: 25px;
      font-size: 18px;
    }

    .prioritySelect {
      width: 266px;
      height: 70px;
      border-radius: 8px;
      padding: 25px 27px 20px 28px;
      color: #ffffff;
      border: 1px solid #ffffff;
      background-color: #000000;
      font-size: 18px;
    }

    .dateInput {
      width: 285px;
      height: 50px;
      border-radius: 8px;
      border: 1px solid #ffffff;
      background-color: #000000;
      color: #ffffff;
      padding: 0px 27px 0px 31px;
      font-size: 18px;
    }

    .dateContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
    }

    button {
      width: 590px;
      height: 65px;
      background-color: #1361a7;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
