<section class="taskRegister">
  <div>
    <img
      class="astronaut"
      src="../../../assets/astronaut.png"
      alt="astronaut"
    />
  </div>
  <div class="formContainer">
    <div class="headerContainer">
      <h1>Cadastrar tarefa</h1>
    </div>
    <form>
      <div class="textContainer">
        <label for="titulo">Título:</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Digite o título"
          class="titleInput"
          [(ngModel)]="tasks.title"
        />
      </div>
      <div class="textContainer">
        <label for="descrição">Descrição:</label>
        <input
          type="text"
          class="descriptionInput"
          [(ngModel)]="tasks.description"
        />
      </div>
      <div class="selectContainers">
        <div class="textContainer">
          <label>Responsável:</label>
          <select class="responsableSelect" [(ngModel)]="tasks.responsible">
            <option value="" selected disabled>Selecione um filtro</option>
            <option value="Marcos">Marcos</option>
            <option value="João">João</option>
            <option value="José">José</option>
          </select>
        </div>
        <div class="textContainer">
          <label>Prioridade:</label>
          <select class="prioritySelect">
            <option value="" selected disabled>Selecione um filtro</option>
            <option value="alta">Alta</option>
            <option value="media">Média</option>
            <option value="baixa">Baixa</option>
          </select>
        </div>
      </div>
      <div class="dateContainer">
        <label>Deadline:</label>
        <input type="date" class="dateInput" />
      </div>
      <button type="submit" (click)="criarTask()">Cadastrar</button>
    </form>
  </div>
</section>
