<section class="taskRegister">
  <div>
    <img
      class="astronaut"
      src="../../../assets/astronaut.png"
      alt="astronaut"
    />
  </div>
  <div class="formContainer">
    <div class="headerContainer">
      <h1>Cadastrar tarefa</h1>
    </div>
    <form>
      <div class="textContainer">
        <label for="titulo">Título:</label>
        <input type="text" class="titleInput" />
      </div>
      <div class="textContainer">
        <label for="descrição">Descrição:</label>
        <input type="text" class="descriptionInput" />
      </div>
      <div class="selectContainers">
        <div class="textContainer">
          <label>Responsável:</label>
          <select class="responsableSelect">
            <option value="maca">Maçã</option>
            <option value="laranja">Laranja</option>
          </select>
        </div>
        <div class="textContainer">
          <label>Prioridade:</label>
          <select class="prioritySelect">
            <option value="maca">Maçã</option>
            <option value="laranja">Laranja</option>
          </select>
        </div>
      </div>
      <div class="dateContainer">
        <label>Deadline:</label>
         <input type="date" class="dateInput" />
      </div>
        <button>Cadastrar</button>
    </form>
  </div>
</section>
